 h1 {
                color: brown;
            }



            body{
                background-color: #69c4bc;
            }
            .Header{
                background-color: aqua;
                display: flex;
                justify-content: space-between;
            }

            .menu{
                background-color: goldenrod;   
            }

            .grids{
                background-color: greenyellow;


            }

            .item img{
                transform: scale(1);
            }
            .item:hover img {
                transform: scale(1.2);
            }
